# Agregación de datos por categoría

In [1]:
import pandas as pd
import numpy as np

In [2]:
gender = ["Male", "Female"]
income = ["Poor", "Middle Class", "Rich"]

In [3]:
n = 500

gender_data = []
income_data = []

for i in range(0,500):
    gender_data.append(np.random.choice(gender))
    income_data.append(np.random.choice(income))

In [4]:
#Z -> N(0,1)
#N(m, s) -> m + s * Z
height = 160 + 30 * np.random.randn(n)
weight = 65 + 25 * np.random.randn(n)
age = 30 + 12 * np.random.randn(n)
income = 18000 + 3500 * np.random.rand(n)

In [5]:
data = pd.DataFrame(
    {
        "Gender" : gender_data,
        "Economic Status" : income_data,
        "Height" : height,
        "Weight" : weight,
        "Age" : age,
        "Income" : income
    }
)

In [6]:
data.head()

   Gender Economic Status      Height     Weight        Age        Income
0    Male            Rich  171.301674  69.201395  24.946920  21147.679531
1    Male            Poor  178.080886  77.159188  14.183108  18745.948486
2    Male    Middle Class  189.446974  84.323892   8.585242  20272.557452
3    Male    Middle Class  182.900736  58.923007  33.204770  18081.106316
4  Female            Rich  142.661450  79.903345  19.125017  18928.027836

In [7]:
## Agrupación de datos

In [8]:
grouped_gender = data.groupby("Gender")

In [9]:
grouped_gender.groups

{'Female': Int64Index([  4,   6,   7,   9,  12,  13,  14,  15,  16,  17,
             ...
             478, 480, 482, 485, 486, 491, 492, 494, 495, 499],
            dtype='int64', length=250),
 'Male': Int64Index([  0,   1,   2,   3,   5,   8,  10,  11,  19,  20,
             ...
             483, 484, 487, 488, 489, 490, 493, 496, 497, 498],
            dtype='int64', length=250)}

In [10]:
for names, groups in grouped_gender:
    print(names)
    print(groups)

Female
     Gender Economic Status      Height      Weight        Age        Income
4    Female            Rich  142.661450   79.903345  19.125017  18928.027836
6    Female            Poor  148.322653   60.025933  31.478420  19781.262275
7    Female            Rich  197.370398   50.714047  38.281061  18209.878269
9    Female    Middle Class  153.302838  109.478522  16.432711  19004.618557
12   Female            Poor  173.424475   69.412130  57.664483  20165.170410
13   Female            Rich  150.916438   54.431963  -6.794753  20307.357196
14   Female            Poor  128.815259    7.978993  14.790121  18924.098193
15   Female    Middle Class  208.680920   44.314418  50.333865  21006.758636
16   Female            Rich  149.374853   77.147756  15.478643  19588.049713
17   Female    Middle Class  126.730443   62.846345  38.787302  18690.368093
18   Female    Middle Class  187.608490   49.555389  36.467199  21079.182425
21   Female            Rich  163.061279   21.476978  54.025445  20333.100858
22   Female            Rich  159.632077  123.540791  18.977645  19117.195983
23   Female            Rich  143.078056   42.121473  31.556553  19581.964387
24   Female            Poor  124.455778  111.294527  33.088377  18353.944096
25   Female    Middle Class  196.314421   67.034723  21.108281  18940.829756
26   Female    Middle Class  168.776674   97.554156  24.374576  20467.629229
29   Female            Poor  121.526004   77.243290  16.849408  20599.808160
30   Female    Middle Class  141.846001   86.697506  21.858936  19887.421419
33   Female            Rich  170.896414   70.301327  32.201900  18797.873735
40   Female            Rich  111.135787   79.882067  11.062355  18809.595804
41   Female    Middle Class  198.257692    1.877215  54.962026  18533.265012
42   Female            Poor  141.156113   56.497414  36.049696  18230.681710
43   Female    Middle Class  203.211645  112.341948  39.956351  20471.552104
44   Female            Rich  125.956425   53.190797  11.408711  18290.498667
45   Female    Middle Class  148.767059   86.868818  35.383542  19939.137021
47   Female            Rich  110.911032   56.694078  28.943499  20393.799701
48   Female            Rich  126.252179   12.959192  30.964393  19980.542162
49   Female            Poor  189.446095  127.245195  39.351277  20317.200690
51   Female    Middle Class  166.112801   63.219661  45.641405  19366.121586
..      ...             ...         ...         ...        ...           ...
431  Female            Poor  135.836029    5.392713  28.280190  18625.909445
434  Female            Poor  173.771124   -3.892368  38.164955  20879.188725
436  Female    Middle Class  157.772958   79.509246  11.140128  18533.843773
440  Female            Rich  136.418528   75.082425  16.069679  20414.640617
441  Female            Rich  128.961367   53.132273  36.977444  19466.561666
442  Female            Rich  182.028163   25.710878  15.766507  19956.697450
444  Female    Middle Class  162.957724  118.601331  22.744851  18040.812241
445  Female            Poor  133.554054   68.124930  22.677843  19550.694798
446  Female            Poor  141.606481   32.193301  21.258545  18580.561681
447  Female    Middle Class  103.750514   54.672210  38.782758  21065.820879
448  Female            Poor  160.071145  106.122931  23.157329  18308.581219
456  Female    Middle Class  154.216617   70.761473  28.916079  20330.673381
458  Female            Rich  165.670273   77.360482  42.355344  20781.289355
460  Female    Middle Class  125.488779   51.483403  52.025471  19234.649131
463  Female            Rich  159.799182   55.651879  31.599472  20691.834090
468  Female            Poor  183.298075   41.306886  35.169508  20944.237812
470  Female            Rich  142.944884   51.478974  18.333345  20422.895401
472  Female            Poor  149.748977   86.880328   0.977346  18837.734646
476  Female            Poor  124.173018  108.780160  20.758932  21024.868128
477  Female            Rich  115.915813   47.778056  30.045909  19256.048249
478  Female            Poor  162.086298   53.669879  12.349179  21160.649015
480  Female    Middle Class  132.654526   68.760407  54.852010  19008.187315
482  Female            Rich  155.232905  100.747344  34.202325  18652.837404
485  Female            Rich  155.899812   22.137583  39.728609  21067.948677
486  Female            Poor  137.234153   76.062505  17.305937  18815.024762
491  Female            Poor  131.634178   73.849370  33.358823  19593.416691
492  Female            Rich  154.726947   67.519322  38.397638  20855.976320
494  Female    Middle Class  186.945894   51.814860  27.647693  18883.337676
495  Female            Poor  169.037815   71.821103  42.540006  18307.015610
499  Female            Poor  145.790185   87.163354  17.680407  21454.560452

[250 rows x 6 columns]
Male
    Gender Economic Status      Height      Weight        Age        Income
0     Male            Rich  171.301674   69.201395  24.946920  21147.679531
1     Male            Poor  178.080886   77.159188  14.183108  18745.948486
2     Male    Middle Class  189.446974   84.323892   8.585242  20272.557452
3     Male    Middle Class  182.900736   58.923007  33.204770  18081.106316
5     Male            Rich  184.843523   56.280329  33.450101  18604.076508
8     Male    Middle Class  165.775405   96.251771  39.921311  18467.337433
10    Male            Rich  182.171340   65.482220  17.979888  18121.962992
11    Male            Poor  156.120028   52.729757  17.173478  19913.686578
19    Male            Rich  160.489662   87.470176  34.229338  21188.982948
20    Male            Poor  138.363674   61.633423  40.017698  18704.339373
27    Male            Poor  191.870817   66.711922  41.966809  21479.931904
28    Male            Rich  152.979678   64.132481  53.097383  18526.083297
31    Male            Rich  211.405252   24.481581  31.705329  20252.561812
32    Male            Poor  162.994567   99.377685   4.602259  18834.844672
34    Male    Middle Class  194.849914   80.508731  31.237062  18657.907901
35    Male            Rich  135.728791   59.663426  25.392851  19254.165278
36    Male    Middle Class  183.526967  101.762230  28.004471  20122.877045
37    Male            Poor  195.036928   34.590439  40.887836  21042.095923
38    Male            Rich  189.328026   74.590483  35.066996  19742.053984
39    Male            Rich  180.213367   48.422113  34.778485  18263.361316
46    Male    Middle Class  155.496346   57.745191  48.442109  18475.668367
50    Male            Rich  185.821759   41.973041  23.338811  19080.960720
52    Male    Middle Class  116.686335   76.093193  34.038771  20149.020231
54    Male            Rich  171.363839   63.222796  56.429361  18424.005939
56    Male    Middle Class  191.049059   31.749963  25.752079  20606.166340
59    Male    Middle Class  154.860216   57.329966   2.642657  21000.055057
62    Male    Middle Class  155.494264   10.620497  35.185459  21379.777307
64    Male            Poor  181.902776   60.979410  30.301959  21358.676150
65    Male            Poor  186.959872  127.913572  24.813483  18657.935991
66    Male    Middle Class  122.247348   25.022665  14.603215  18071.534337
..     ...             ...         ...         ...        ...           ...
451   Male            Rich  133.735196   68.812372  30.870208  18492.519112
452   Male            Poor  136.397112   80.862062  35.134853  19327.402427
453   Male            Poor  155.705953   91.396489  32.138977  21235.659006
454   Male            Poor  116.574062   48.961742  61.622867  18593.638729
455   Male            Poor  171.410089   61.077392  36.631170  19594.320097
457   Male            Rich  137.690812   90.492509  29.560899  21464.779939
459   Male            Poor  120.284558   56.028650  16.355984  20209.480668
461   Male    Middle Class  149.148109   52.825747  41.583029  21331.316908
462   Male            Rich  153.735394   50.112771  28.524472  19376.452704
464   Male    Middle Class  124.431155   46.167620  26.205674  20176.080188
465   Male    Middle Class  170.897624   47.507135  58.956084  21270.224925
466   Male    Middle Class  121.500214   92.476489  29.146187  20162.281377
467   Male            Poor  174.459134   35.766074  16.634150  21314.077480
469   Male            Rich  125.737316   89.577270  41.570710  20245.348742
471   Male    Middle Class  143.471251   30.174712  41.293714  18874.681303
473   Male            Poor  188.056471   40.727259  12.739410  18976.511327
474   Male            Rich  153.834329   33.201689  19.467087  19400.426260
475   Male            Poor  181.607395    9.133380  28.312044  19322.464941
479   Male            Rich  164.096195   55.437484  23.973432  20298.802081
481   Male            Poor  153.275713   36.997410  36.656043  21368.882624
483   Male    Middle Class  147.413802   65.933057  34.948101  19536.076207
484   Male            Rich  171.878112   32.926057  35.060058  19141.150307
487   Male            Poor  127.118295   55.935523  37.186749  18954.506461
488   Male    Middle Class  161.422942   87.808954  51.458173  21153.633853
489   Male    Middle Class  180.571773   72.825159  25.249708  18106.849986
490   Male            Poor  124.654489   87.000565  31.984296  18994.677192
493   Male    Middle Class  144.248258   29.306322  44.434582  19046.915473
496   Male            Poor  159.018708   42.718701  20.551160  18947.930577
497   Male    Middle Class  188.564104   81.469895  16.489112  19510.778321
498   Male    Middle Class  152.693851   53.571182  12.371919  19055.094959

[250 rows x 6 columns]

In [11]:
grouped_gender.get_group("Female")

     Gender Economic Status      Height      Weight        Age        Income
4    Female            Rich  142.661450   79.903345  19.125017  18928.027836
6    Female            Poor  148.322653   60.025933  31.478420  19781.262275
7    Female            Rich  197.370398   50.714047  38.281061  18209.878269
9    Female    Middle Class  153.302838  109.478522  16.432711  19004.618557
12   Female            Poor  173.424475   69.412130  57.664483  20165.170410
13   Female            Rich  150.916438   54.431963  -6.794753  20307.357196
14   Female            Poor  128.815259    7.978993  14.790121  18924.098193
15   Female    Middle Class  208.680920   44.314418  50.333865  21006.758636
16   Female            Rich  149.374853   77.147756  15.478643  19588.049713
17   Female    Middle Class  126.730443   62.846345  38.787302  18690.368093
18   Female    Middle Class  187.608490   49.555389  36.467199  21079.182425
21   Female            Rich  163.061279   21.476978  54.025445  20333.100858
22   Female            Rich  159.632077  123.540791  18.977645  19117.195983
23   Female            Rich  143.078056   42.121473  31.556553  19581.964387
24   Female            Poor  124.455778  111.294527  33.088377  18353.944096
25   Female    Middle Class  196.314421   67.034723  21.108281  18940.829756
26   Female    Middle Class  168.776674   97.554156  24.374576  20467.629229
29   Female            Poor  121.526004   77.243290  16.849408  20599.808160
30   Female    Middle Class  141.846001   86.697506  21.858936  19887.421419
33   Female            Rich  170.896414   70.301327  32.201900  18797.873735
40   Female            Rich  111.135787   79.882067  11.062355  18809.595804
41   Female    Middle Class  198.257692    1.877215  54.962026  18533.265012
42   Female            Poor  141.156113   56.497414  36.049696  18230.681710
43   Female    Middle Class  203.211645  112.341948  39.956351  20471.552104
44   Female            Rich  125.956425   53.190797  11.408711  18290.498667
45   Female    Middle Class  148.767059   86.868818  35.383542  19939.137021
47   Female            Rich  110.911032   56.694078  28.943499  20393.799701
48   Female            Rich  126.252179   12.959192  30.964393  19980.542162
49   Female            Poor  189.446095  127.245195  39.351277  20317.200690
51   Female    Middle Class  166.112801   63.219661  45.641405  19366.121586
..      ...             ...         ...         ...        ...           ...
431  Female            Poor  135.836029    5.392713  28.280190  18625.909445
434  Female            Poor  173.771124   -3.892368  38.164955  20879.188725
436  Female    Middle Class  157.772958   79.509246  11.140128  18533.843773
440  Female            Rich  136.418528   75.082425  16.069679  20414.640617
441  Female            Rich  128.961367   53.132273  36.977444  19466.561666
442  Female            Rich  182.028163   25.710878  15.766507  19956.697450
444  Female    Middle Class  162.957724  118.601331  22.744851  18040.812241
445  Female            Poor  133.554054   68.124930  22.677843  19550.694798
446  Female            Poor  141.606481   32.193301  21.258545  18580.561681
447  Female    Middle Class  103.750514   54.672210  38.782758  21065.820879
448  Female            Poor  160.071145  106.122931  23.157329  18308.581219
456  Female    Middle Class  154.216617   70.761473  28.916079  20330.673381
458  Female            Rich  165.670273   77.360482  42.355344  20781.289355
460  Female    Middle Class  125.488779   51.483403  52.025471  19234.649131
463  Female            Rich  159.799182   55.651879  31.599472  20691.834090
468  Female            Poor  183.298075   41.306886  35.169508  20944.237812
470  Female            Rich  142.944884   51.478974  18.333345  20422.895401
472  Female            Poor  149.748977   86.880328   0.977346  18837.734646
476  Female            Poor  124.173018  108.780160  20.758932  21024.868128
477  Female            Rich  115.915813   47.778056  30.045909  19256.048249
478  Female            Poor  162.086298   53.669879  12.349179  21160.649015
480  Female    Middle Class  132.654526   68.760407  54.852010  19008.187315
482  Female            Rich  155.232905  100.747344  34.202325  18652.837404
485  Female            Rich  155.899812   22.137583  39.728609  21067.948677
486  Female            Poor  137.234153   76.062505  17.305937  18815.024762
491  Female            Poor  131.634178   73.849370  33.358823  19593.416691
492  Female            Rich  154.726947   67.519322  38.397638  20855.976320
494  Female    Middle Class  186.945894   51.814860  27.647693  18883.337676
495  Female            Poor  169.037815   71.821103  42.540006  18307.015610
499  Female            Poor  145.790185   87.163354  17.680407  21454.560452

[250 rows x 6 columns]

In [12]:
double_group = data.groupby(["Gender", "Economic Status"])

In [13]:
len(double_group)

6

In [14]:
for names, groups in double_group:
    print(names)
    print(groups)

('Female', 'Middle Class')
     Gender Economic Status      Height      Weight        Age        Income
9    Female    Middle Class  153.302838  109.478522  16.432711  19004.618557
15   Female    Middle Class  208.680920   44.314418  50.333865  21006.758636
17   Female    Middle Class  126.730443   62.846345  38.787302  18690.368093
18   Female    Middle Class  187.608490   49.555389  36.467199  21079.182425
25   Female    Middle Class  196.314421   67.034723  21.108281  18940.829756
26   Female    Middle Class  168.776674   97.554156  24.374576  20467.629229
30   Female    Middle Class  141.846001   86.697506  21.858936  19887.421419
41   Female    Middle Class  198.257692    1.877215  54.962026  18533.265012
43   Female    Middle Class  203.211645  112.341948  39.956351  20471.552104
45   Female    Middle Class  148.767059   86.868818  35.383542  19939.137021
51   Female    Middle Class  166.112801   63.219661  45.641405  19366.121586
58   Female    Middle Class  168.567288   56.196384  32.548994  18554.995989
77   Female    Middle Class  172.591562   68.025210  27.999272  19699.175863
90   Female    Middle Class  142.044495   75.247811  39.479362  19992.482030
95   Female    Middle Class  135.695979   55.707466  38.805498  18239.022165
97   Female    Middle Class  114.293294   58.029397  -5.868877  20214.956379
105  Female    Middle Class  127.395750   88.539529  17.776630  21259.295214
108  Female    Middle Class  141.465770   62.217216  28.858410  20606.459420
116  Female    Middle Class  166.912153   75.590277  20.841644  21166.858859
120  Female    Middle Class  168.420143   93.592653  31.444577  21375.532778
124  Female    Middle Class  135.697244   68.663746  35.211906  19027.677880
126  Female    Middle Class  168.939362   22.904107  18.545596  19654.752653
128  Female    Middle Class  165.142279   74.449081  45.138121  20656.191007
139  Female    Middle Class  197.891024   47.246822  23.648056  18069.474834
140  Female    Middle Class  170.886666   17.701676  31.314849  18154.635794
149  Female    Middle Class  165.630998   28.466244  42.504395  21166.398309
150  Female    Middle Class  172.703315   70.363885  22.665399  18543.619306
160  Female    Middle Class  154.339026  104.691856  25.767979  19179.976572
161  Female    Middle Class  109.233873   90.826425  22.824812  19869.123117
189  Female    Middle Class  166.998227   97.257603  -1.912499  20874.756515
..      ...             ...         ...         ...        ...           ...
292  Female    Middle Class  136.705747   82.596309  34.172412  18748.207742
296  Female    Middle Class  195.210247   80.820704  30.636311  20325.579344
312  Female    Middle Class  199.466938   74.437306  19.947281  18305.898639
313  Female    Middle Class  148.164799   65.571912  28.990104  19783.038759
320  Female    Middle Class  159.260696  108.357354  40.276995  18560.691302
325  Female    Middle Class   98.325180   70.609670  27.902653  18603.068943
330  Female    Middle Class  198.230523   38.495060  10.064876  18679.667516
331  Female    Middle Class  113.740934   95.773309  38.232114  18079.902210
333  Female    Middle Class  125.894619   22.456448  48.293203  20233.091136
336  Female    Middle Class  145.468553   61.463874  27.430857  21423.148123
341  Female    Middle Class  165.681343   85.278068  30.761659  18112.644829
350  Female    Middle Class  210.876588   74.074636  24.986587  20348.109771
355  Female    Middle Class  165.685224   33.663342  33.739172  19456.414669
358  Female    Middle Class  148.128212   58.388790  31.738077  19177.112719
365  Female    Middle Class  165.466888   69.283765  21.641755  18368.703069
366  Female    Middle Class  173.423931   44.505281  31.467050  18783.732460
368  Female    Middle Class  130.716028   77.098575  26.446764  18701.113009
376  Female    Middle Class  126.665571   39.879611  23.873649  18858.046258
384  Female    Middle Class  164.989342   91.624204  37.553237  20379.610823
385  Female    Middle Class  206.340502   38.761651  25.414481  19248.915600
401  Female    Middle Class  149.576525   96.756988  16.142624  20783.180422
423  Female    Middle Class  106.918151   90.198633  26.211218  19918.099227
424  Female    Middle Class  122.580397   71.812709  28.197498  18689.395679
436  Female    Middle Class  157.772958   79.509246  11.140128  18533.843773
444  Female    Middle Class  162.957724  118.601331  22.744851  18040.812241
447  Female    Middle Class  103.750514   54.672210  38.782758  21065.820879
456  Female    Middle Class  154.216617   70.761473  28.916079  20330.673381
460  Female    Middle Class  125.488779   51.483403  52.025471  19234.649131
480  Female    Middle Class  132.654526   68.760407  54.852010  19008.187315
494  Female    Middle Class  186.945894   51.814860  27.647693  18883.337676

[77 rows x 6 columns]
('Female', 'Poor')
     Gender Economic Status      Height      Weight        Age        Income
6    Female            Poor  148.322653   60.025933  31.478420  19781.262275
12   Female            Poor  173.424475   69.412130  57.664483  20165.170410
14   Female            Poor  128.815259    7.978993  14.790121  18924.098193
24   Female            Poor  124.455778  111.294527  33.088377  18353.944096
29   Female            Poor  121.526004   77.243290  16.849408  20599.808160
42   Female            Poor  141.156113   56.497414  36.049696  18230.681710
49   Female            Poor  189.446095  127.245195  39.351277  20317.200690
55   Female            Poor  162.974194   67.452832  32.361764  20589.864314
60   Female            Poor  136.652993   47.278573  31.373458  18125.698631
68   Female            Poor  190.998921   83.570914  24.041577  21177.241611
82   Female            Poor  151.893383   82.925967  47.859057  20024.881140
91   Female            Poor  153.085674   64.376983  28.442655  20443.943809
96   Female            Poor  128.279257   50.576501  16.441256  20791.648892
100  Female            Poor  155.746560   64.660110  47.675400  18621.834519
101  Female            Poor  196.434704   74.734303  16.767522  19225.131080
107  Female            Poor  111.973061   23.264647  34.261189  19084.050888
109  Female            Poor  120.245383   68.921850  48.420639  18458.210549
112  Female            Poor  202.993979   45.693559  22.983744  19221.500189
113  Female            Poor  144.004873   58.056292  24.192418  21424.194820
118  Female            Poor  140.301759   66.137162  17.207405  20183.310155
129  Female            Poor  179.141792   77.620198  28.156981  18279.320110
138  Female            Poor  163.531163   93.498642  28.431250  21439.509862
145  Female            Poor  127.995669   97.525039  35.875175  20243.782866
153  Female            Poor  144.451170   45.355676  12.020418  18143.735545
158  Female            Poor  146.093888   76.048482  37.720865  20126.230295
163  Female            Poor  163.986582   61.310801  39.138242  21011.002454
175  Female            Poor  123.419621   67.938795  14.983863  18148.651614
180  Female            Poor  140.472711  107.242540  44.229703  20032.913609
193  Female            Poor  171.712301   54.474434  18.006385  18867.034603
195  Female            Poor  172.293098   94.959964  24.448607  20878.616322
..      ...             ...         ...         ...        ...           ...
351  Female            Poor  169.061386   76.092503  36.243572  19824.966725
353  Female            Poor  149.451665   88.609560  13.866471  20588.063819
354  Female            Poor  105.191776   61.415105   8.216425  18844.900220
359  Female            Poor  167.589999   80.768988  23.244384  21038.529767
372  Female            Poor  189.429387   84.383642  16.798989  18868.640014
377  Female            Poor  179.089890   31.245648  22.810293  20696.176196
379  Female            Poor  159.542315   57.360980  36.174456  19609.146140
380  Female            Poor  162.390201   95.451061  15.431903  18955.468955
397  Female            Poor  160.166265  126.476172  27.518871  20803.524379
398  Female            Poor  170.705425   93.457356  43.936100  19547.885891
402  Female            Poor  138.397722   63.065922  11.089833  20963.198505
410  Female            Poor  159.397373   61.545542   9.175469  19957.181864
411  Female            Poor  164.292986   52.252830  24.742954  18355.498367
415  Female            Poor  146.420131   76.666633  49.466760  19637.671132
418  Female            Poor  175.633590   71.567233  30.163888  19651.922625
419  Female            Poor  216.687262  -10.791630  29.958784  20966.075096
422  Female            Poor  132.369279   76.582454  34.354261  18053.311551
431  Female            Poor  135.836029    5.392713  28.280190  18625.909445
434  Female            Poor  173.771124   -3.892368  38.164955  20879.188725
445  Female            Poor  133.554054   68.124930  22.677843  19550.694798
446  Female            Poor  141.606481   32.193301  21.258545  18580.561681
448  Female            Poor  160.071145  106.122931  23.157329  18308.581219
468  Female            Poor  183.298075   41.306886  35.169508  20944.237812
472  Female            Poor  149.748977   86.880328   0.977346  18837.734646
476  Female            Poor  124.173018  108.780160  20.758932  21024.868128
478  Female            Poor  162.086298   53.669879  12.349179  21160.649015
486  Female            Poor  137.234153   76.062505  17.305937  18815.024762
491  Female            Poor  131.634178   73.849370  33.358823  19593.416691
495  Female            Poor  169.037815   71.821103  42.540006  18307.015610
499  Female            Poor  145.790185   87.163354  17.680407  21454.560452

[80 rows x 6 columns]
('Female', 'Rich')
     Gender Economic Status      Height      Weight        Age        Income
4    Female            Rich  142.661450   79.903345  19.125017  18928.027836
7    Female            Rich  197.370398   50.714047  38.281061  18209.878269
13   Female            Rich  150.916438   54.431963  -6.794753  20307.357196
16   Female            Rich  149.374853   77.147756  15.478643  19588.049713
21   Female            Rich  163.061279   21.476978  54.025445  20333.100858
22   Female            Rich  159.632077  123.540791  18.977645  19117.195983
23   Female            Rich  143.078056   42.121473  31.556553  19581.964387
33   Female            Rich  170.896414   70.301327  32.201900  18797.873735
40   Female            Rich  111.135787   79.882067  11.062355  18809.595804
44   Female            Rich  125.956425   53.190797  11.408711  18290.498667
47   Female            Rich  110.911032   56.694078  28.943499  20393.799701
48   Female            Rich  126.252179   12.959192  30.964393  19980.542162
53   Female            Rich  118.978429   86.953928  30.424170  18669.719798
57   Female            Rich  127.450010   35.876261  25.411840  19695.762967
61   Female            Rich  208.415575   72.706476  32.412956  21358.500080
63   Female            Rich  151.603455   78.602739  39.698687  19678.117891
70   Female            Rich  124.380539   34.617967  27.002204  18123.126826
71   Female            Rich  163.769477  121.752323  34.063751  20334.905398
73   Female            Rich  181.940647   67.347173  42.752930  21360.949124
75   Female            Rich  174.697729  100.590435  -0.019932  20238.243362
81   Female            Rich  193.243347   77.883284  19.686899  18715.773750
83   Female            Rich  171.177404   93.473353  46.460791  19148.174112
86   Female            Rich  134.259624   95.136777  32.851325  18611.046029
87   Female            Rich  145.664770   81.649407  23.832914  18150.071122
98   Female            Rich  140.870309   76.237356  30.868175  21195.206387
103  Female            Rich  139.293887   58.779591  22.855190  18635.773357
104  Female            Rich  146.673055   35.568670  44.388951  18293.922813
110  Female            Rich  148.394277   24.642294  28.923421  19023.852107
122  Female            Rich  191.785390   81.127043  32.932282  19961.016951
123  Female            Rich  112.229753   84.625656  32.517993  19242.482237
..      ...             ...         ...         ...        ...           ...
283  Female            Rich  111.521021   68.109981  25.083873  20177.424394
295  Female            Rich  159.099038   29.081742  28.580076  20603.075569
301  Female            Rich  190.005150   63.776828  10.910796  21336.708541
305  Female            Rich  177.786389   41.029325  16.637396  20460.407833
327  Female            Rich  163.351388   65.104748  26.246447  20808.211700
334  Female            Rich  161.850193   48.303301  32.765265  20422.847197
339  Female            Rich  161.568487   54.234515  28.386646  20877.390743
342  Female            Rich  153.572077   77.782345  33.226523  18272.554299
352  Female            Rich  173.960756   44.008388  26.664783  19765.216908
356  Female            Rich  197.038275   90.424211  44.755284  20750.252576
363  Female            Rich  143.713260   92.143833  44.073921  18343.768422
367  Female            Rich  225.933752   71.853190  25.293671  21375.603566
369  Female            Rich  181.041561   37.666110  36.099763  20017.113103
370  Female            Rich  125.651330   26.920937   2.612055  19120.306180
382  Female            Rich  111.215334   50.699176  19.036525  18403.382635
390  Female            Rich  130.357997   41.983922  30.732985  19618.115024
399  Female            Rich  118.362985   51.767891  22.446819  18725.653404
400  Female            Rich  135.765109  -11.625479   2.687631  19983.401412
406  Female            Rich  134.194519   42.120220  35.927603  20557.997168
417  Female            Rich  186.142352   50.126837  35.602232  19302.947951
440  Female            Rich  136.418528   75.082425  16.069679  20414.640617
441  Female            Rich  128.961367   53.132273  36.977444  19466.561666
442  Female            Rich  182.028163   25.710878  15.766507  19956.697450
458  Female            Rich  165.670273   77.360482  42.355344  20781.289355
463  Female            Rich  159.799182   55.651879  31.599472  20691.834090
470  Female            Rich  142.944884   51.478974  18.333345  20422.895401
477  Female            Rich  115.915813   47.778056  30.045909  19256.048249
482  Female            Rich  155.232905  100.747344  34.202325  18652.837404
485  Female            Rich  155.899812   22.137583  39.728609  21067.948677
492  Female            Rich  154.726947   67.519322  38.397638  20855.976320

[93 rows x 6 columns]
('Male', 'Middle Class')
    Gender Economic Status      Height      Weight        Age        Income
2     Male    Middle Class  189.446974   84.323892   8.585242  20272.557452
3     Male    Middle Class  182.900736   58.923007  33.204770  18081.106316
8     Male    Middle Class  165.775405   96.251771  39.921311  18467.337433
34    Male    Middle Class  194.849914   80.508731  31.237062  18657.907901
36    Male    Middle Class  183.526967  101.762230  28.004471  20122.877045
46    Male    Middle Class  155.496346   57.745191  48.442109  18475.668367
52    Male    Middle Class  116.686335   76.093193  34.038771  20149.020231
56    Male    Middle Class  191.049059   31.749963  25.752079  20606.166340
59    Male    Middle Class  154.860216   57.329966   2.642657  21000.055057
62    Male    Middle Class  155.494264   10.620497  35.185459  21379.777307
66    Male    Middle Class  122.247348   25.022665  14.603215  18071.534337
67    Male    Middle Class  156.535767   61.501813  17.493162  18264.329448
69    Male    Middle Class  153.711272   20.272591  36.610734  19297.081650
72    Male    Middle Class  113.170054   62.742754  26.306850  19022.864121
74    Male    Middle Class  161.644781   45.138089  19.554038  20814.505795
78    Male    Middle Class  129.657825   82.979588  35.477618  20438.234277
92    Male    Middle Class  183.149967   45.849959  19.769473  21019.441431
106   Male    Middle Class  154.452625   17.012090  47.103175  20136.623847
114   Male    Middle Class   82.985567   63.772456  29.453594  19327.505912
115   Male    Middle Class  141.558276   67.371566  49.671546  19681.847386
125   Male    Middle Class  233.309453   69.227415  33.081075  21442.155757
133   Male    Middle Class  173.220677   77.876409  41.390499  21030.809826
136   Male    Middle Class  162.051889   59.042659  14.833828  20465.470761
157   Male    Middle Class  188.357151   53.594802  30.628595  18608.346708
162   Male    Middle Class  191.440661   69.641238  31.983252  21281.062452
168   Male    Middle Class  155.883248   69.999670  24.679258  19097.161682
172   Male    Middle Class  170.943163   80.033149  41.861479  19828.630478
173   Male    Middle Class  141.415862   42.214896  25.050419  18048.918113
174   Male    Middle Class  196.265538   99.593564  26.691307  18818.952353
179   Male    Middle Class  195.481721   58.487800  27.213664  20552.593694
..     ...             ...         ...         ...        ...           ...
321   Male    Middle Class  199.436844   54.895435  43.536678  20274.593177
328   Male    Middle Class  171.788928   -0.558978  48.560751  19197.834701
340   Male    Middle Class  193.327880  111.315456  22.760005  20637.481519
348   Male    Middle Class  110.383407   71.595126  30.584030  18647.509614
360   Male    Middle Class  122.427879   60.378875  46.493733  18587.635151
373   Male    Middle Class  148.700399   73.492217  24.168633  18485.185400
381   Male    Middle Class  149.147315   70.172086  42.719011  19994.058903
383   Male    Middle Class  185.963589   63.914579  23.311268  19178.714240
387   Male    Middle Class  221.103312   66.794340  28.026093  19613.172445
389   Male    Middle Class  176.649245   50.214490  38.146151  20998.904526
393   Male    Middle Class  225.343992   51.995147  23.036680  21262.520050
409   Male    Middle Class  151.911448   28.224326  16.329969  20797.721409
412   Male    Middle Class  103.721230   10.315367   5.638633  19386.551381
421   Male    Middle Class  161.555937   76.659405  30.750601  20269.141641
425   Male    Middle Class  131.129888   58.902738  38.796811  21019.339510
429   Male    Middle Class  157.849855   86.031663  19.767833  21049.859371
437   Male    Middle Class  164.743387   85.448273  31.958140  20986.486694
438   Male    Middle Class  139.700098   81.135041  12.573801  20716.873058
443   Male    Middle Class  181.253401   30.202226  22.902983  19392.956269
461   Male    Middle Class  149.148109   52.825747  41.583029  21331.316908
464   Male    Middle Class  124.431155   46.167620  26.205674  20176.080188
465   Male    Middle Class  170.897624   47.507135  58.956084  21270.224925
466   Male    Middle Class  121.500214   92.476489  29.146187  20162.281377
471   Male    Middle Class  143.471251   30.174712  41.293714  18874.681303
483   Male    Middle Class  147.413802   65.933057  34.948101  19536.076207
488   Male    Middle Class  161.422942   87.808954  51.458173  21153.633853
489   Male    Middle Class  180.571773   72.825159  25.249708  18106.849986
493   Male    Middle Class  144.248258   29.306322  44.434582  19046.915473
497   Male    Middle Class  188.564104   81.469895  16.489112  19510.778321
498   Male    Middle Class  152.693851   53.571182  12.371919  19055.094959

[85 rows x 6 columns]
('Male', 'Poor')
    Gender Economic Status      Height      Weight        Age        Income
1     Male            Poor  178.080886   77.159188  14.183108  18745.948486
11    Male            Poor  156.120028   52.729757  17.173478  19913.686578
20    Male            Poor  138.363674   61.633423  40.017698  18704.339373
27    Male            Poor  191.870817   66.711922  41.966809  21479.931904
32    Male            Poor  162.994567   99.377685   4.602259  18834.844672
37    Male            Poor  195.036928   34.590439  40.887836  21042.095923
64    Male            Poor  181.902776   60.979410  30.301959  21358.676150
65    Male            Poor  186.959872  127.913572  24.813483  18657.935991
79    Male            Poor  201.820857  106.438841  27.966908  18726.644332